<mat-toolbar>
    <mat-button-toggle-group>
        <mat-button-toggle (click)="allList()" checked="true">My Tesks</mat-button-toggle>
        <mat-button-toggle (click)="undone()">in Progress</mat-button-toggle>
        <mat-button-toggle (click)="done()">Completed</mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>

<mat-card class="add" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>add</mat-icon>Add Task
</mat-card>
<app-edit></app-edit>

<app-list [result]="result"></app-list>
