<div *ngFor="let s of result">
  <mat-card  (click)="s.opendetail=!s.opendetail"
      fxLayout="row wrap" fxLayoutAlign="space-between center" [style.backgroundColor]="s.favorite?'#FFF2DC':''">
    <div fxLayout="row">
      <mat-checkbox color="primary" (change)="check(s)" (click)="$event.stopPropagation()" [checked]="s.completed"></mat-checkbox>
      <h3 [class.donetitle]="s.completed">
        {{s.title}}
      </h3>
    </div>  
  
    <div>
      <button mat-icon-button (click)="s.favorite=!s.favorite;$event.stopPropagation()" [style.color]="s.favorite?'#F5A623':''"><mat-icon>{{s.favorite?'star':'star_border'}}</mat-icon></button>
      <button mat-icon-button><mat-icon>mode_edit</mat-icon></button>
      <button mat-icon-button (click)="delet(s);$event.stopPropagation()" class="deletButton"><mat-icon>clear</mat-icon></button>
    </div>
    <p fxFlex="80" class="dtime"><span *ngIf="s.date">{{s.date}}</span><span *ngIf="s.comment"><mat-icon>textsms</mat-icon></span></p>
    <div fxFlex="90" *ngIf="s.opendetail">
      <p>{{s.comment}}</p>
    </div>
  </mat-card>
</div>