<mat-card class="editcard">
  <form [formGroup]="todoForm">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="title" [class.favo]="isfavo" 
           fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox color="primary" class="titlecheckbox" formControlName="completed"></mat-checkbox>
        <mat-form-field floatLabel="never" fxFlex="1 1" class="titleinput">
          <input matInput placeholder="Type Something Here…" formControlName="title">
        </mat-form-field>
        <div fxFlex="auto" fxLayout="row">
          <button mat-icon-button [style.color]="isfavo?'#F5A623':''" 
              (click)="favobutton()">
            <mat-icon>{{isfavo?'star':'star_border'}}</mat-icon>
          </button>
          <button mat-icon-button class="oneditbutton"><mat-icon>mode_edit</mat-icon></button>
        </div>
      </div>
      
      
      <div class="label" fxFlex="80"><mat-icon>date_range</mat-icon>Deadline</div>
      <mat-form-field floatLabel="never" fxFlex="70">
        <input matInput [matDatepicker]="picker" placeholder="label" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <div class="label" fxFlex="80"><mat-icon>textsms</mat-icon>Comment</div>
      <mat-form-field floatLabel="never" fxFlex="70">
        <textarea matInput placeholder="label" formControlName="comment">
        </textarea>
      </mat-form-field>
      <button mat-button class="fbutton cancel" (click)="cancel()"
              fxFlex="50"><mat-icon>clear</mat-icon>Cancel</button>
      <button mat-button class="fbutton add" (click)="onSubmit(todoForm)"
              fxFlex="50"><mat-icon>add</mat-icon>Add Task</button>
    </div>
  </form>
</mat-card>